html, body {
	width: 100%;
	margin: 0;
	font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.menu{
	width: 100%;
	display: flex;
	padding-left: 7%;
	padding-right: 5%;
	padding-top: 1.5%;
	background-color: white;
	position: fixed;
}
.menu b {
	color : #d64545;
	font-weight : bold;
	font-size : 25px;
	margin-top : -5px;
	margin-left: 10px;	
}
.menu ul {
	list-style: none;
	display: flex;
	margin-left: 250px;
	margin-top: 0px;
}
.menu ul b{
	margin-right: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #777;
	line-height: 20px;
	color: #696969;
	cursor: pointer;
}
.menu ul button {
	
	border-color: #be2a2a;
	border-bottom-width: 3px;
	font-size: 14px;
	border-radius: 3px;
	cursor: pointer;
	font-family: inherit;
	margin-top: -5px;
	height: 35px;
}
.menu ul b:hover {
	border-bottom: solid 3px #be2a2a;
	color: #bd4444;
}
.badan {
	padding-top: 60px;
	background-color: rgb(234, 234, 234);
	padding-bottom: 80px;
}
.form {
	width: 400px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 40px;
	text-align: center;
	background-color: white;
	font-size: 6px;
	border-radius: 5px;
}
.maroon {
	color: #d64545;
}
form {
	margin-top: 20px;
}
input {
	margin-bottom: 15px;
}
p{
	line-height: 30px;
	font-size: 12px;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #64686d;
	margin-top: 10px;
}
.bottomm {
	background-color: rgb(25, 25, 25);
	padding-top: 10px;
	padding-bottom: 10px;
}
.bottom{
	background: #1b1b1d;
}
.logo3 {
	background-color: #d2d2d2;
	padding: 5px;
	border-radius: 100%;
	margin-right: 10px;
}
.logo3:hover{
	background-color: #1b1b1d;
}
.input-ctr{
	position: relative;
}
.input-ctr input {
	padding: 10px 15px;
	border: solid 1px #ddd;
	border-radius: 3px;
	width: 100%;

}
.input-ctr i{
	position: absolute;
	top: 10px;
	right: 15px;
}
